{% extends "ExPy71301a.html" %}
{% block page %}Home{% endblock page %}
{% block heading %}
    {{ super() }}
{% endblock heading %}
{% block content %}
    <h4>자식 펨플릿의 시작</h4><br/>
    <p>My String : {{my_string}}</p>
    <p>리스트 값 : {{my_list[2]}}</p>
    <p>전체 리스트</p>
        <ul>
            {% for n in my_list %}
            <li>{{n}}</li>
            {% endfor %}
        </ul>
    <h4>자식 펨플릿의 끝</h4><br/>
    {% block footer %}
        {{ super() }}
    {% endblock footer %}
{% endblock content %}
