<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>플라스크 템플릿 상속 테스트</title>
    <meta name="viewport" content="width=device-widthd, initial-scale=1.0">
    <style type="text/css">
        h3 {color:blue}
        h4 {color:red}
    </style>
</head>
<body>
    <div class="wrap">
        <h3>기본 템플릿 영역 시작</h3><br/>
<!--        {% block content %}{% endblock %}-->
            <h4>자식 템플릿의 시작</h4><br/>
                <p>My Sgtring : {{my_string}}</p>
                <p>리스트 값 : {{my_list[2]}}</p>
                <p>전체 리스트</p>
                <ul>
                    {% for n in my_list %}
                    <li>{{n}}</li>
                    {% endfor %}
                </ul>
            <h4>자식 템플릿의 끝</h4>
        <br/>
        <h3>기본 템플릿 영역 끝</h3>
    </div>
</body>
</html>