<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call Block Test</title>
</head>
<body>
  {% macro user_info(users) -%}
    <div class="contents">
      <ul>
        {%- for user in users %}
        <li><p>{{user['user_name'] | e}}</p>{{caller(user_data=user)}}</li>
        {% endfor %}
      </ul>
    </div>
  {%- endmacro %}
  {% call(user_data) user_info(user_list) -%}
    <dl>
      <dl>user 이름</dl>
      <dd>{{user_data['name']}}</dd>
      <dl>user 직업</dl>
      <dd>{{user_data['job']}}</dd>
    </dl>
  {%- endcall %}
</body>
</html>
